src/main/mule/sampleexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="beed4546-251d-4f0e-8f77-21d7de44d556" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="43df8f4c-81f3-447c-b6b2-abd91a88cddb" >
		<http:request-connection host="localhost" port="8091" />
	</http:request-config>
	<flow name="sampleexampleFlow" doc:id="1e5e83df-ea02-4f17-9242-40d44c0017fc" >
		<http:listener doc:name="Listener" doc:id="f476148d-3bc5-4e77-9fbb-68d1050eb95d" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="ca359fb2-edf5-485d-96b4-01191297ce87" />
		<http:request method="GET" doc:name="Request" doc:id="ae8be289-f911-4a0a-b41d-7eb1df06464b" config-ref="HTTP_Request_configuration" path="/"/>
		<ee:transform doc:name="Transform Message" doc:id="4401e608-dd5d-4737-98b2-f287c9ce4209" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="013b6342-034f-4ba6-acb2-12b65afc96b9" />
	</flow>
</mule>
